<div id = "post_comment_<%= comment.id %>">
  <%= form_for [@post, @comment], :url => post_comment_path(@post, @comment), remote: true, html: {class: "col-md-12"} do |comment_fields| %>
    <div class="form-group">
      <%= comment_fields.text_area :body, placeholder: "Write a comment...", class: "form-control", rows: "2" %>
    </div>
    <div class="form-group">
      <%= comment_fields.submit "Save", class: "col-md-3 pull-right btn btn-primary" %>
    </div>
  <% end %>
</div>