<!-- View for showing all `Post` -->

<div class = "container">
  <% @posts.each do |post| %>
    <row>
      <div class="col-md-8 offset-md-2">      
        <h2>
          <%= post.title %>
        </h2>
      </div>
    </row>
    <row>
      <div class="col-md-8 offset-md-2">      
        <%= post.body %>
      </div>
    </row>
    <row>
      <div class="col-md-8 offset-md-6">      
        <%= link_to(post) do %>
          Comments: (<%= post.comments.count %>)
        <% end %>
      </div>
    </row>
  <% end %>
</div>